
.icon-heart:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-icons8-youtube:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-down-open-big:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
